# Geolife Analysis

In [1]:
import pandas as pd
import numpy as np
import pyproj
import pptk
import read_geolife

In [2]:
# SLOW!
# 
# df = read_geolife.read_all_users('..\Geolife\Data')
# df.to_pickle('geolifePython7.pkl')

In [3]:
df = pd.read_pickle('..\geolifePython7.pkl')
df

                  time        lat         lon          alt  label  user
0  2008-10-23 02:53:04  39.984702  116.318417   492.000000      0     0
1  2008-10-23 02:53:10  39.984683  116.318450   492.000000      0     0
2  2008-10-23 02:53:15  39.984686  116.318417   492.000000      0     0
3  2008-10-23 02:53:20  39.984688  116.318385   492.000000      0     0
4  2008-10-23 02:53:25  39.984655  116.318263   492.000000      0     0
..                 ...        ...         ...          ...    ...   ...
17 2008-03-14 03:39:56  40.914867  111.710500  3802.493438      0   181
18 2008-03-14 03:41:17  40.914267  111.710333  3795.931759      0   181
19 2008-03-14 03:43:02  40.912467  111.710667  3795.931759      0   181
20 2008-03-14 03:43:28  40.911517  111.711317  3779.527559      0   181
21 2008-03-14 03:43:40  40.910933  111.711617  3802.493438      0   181

[24876978 rows x 6 columns]

In [4]:
P = np.c_[df['lon'], df['lat'], np.zeros(len(df))]

In [5]:
v = pptk.viewer(P)
v.attributes(df['alt'])
v.color_map('jet', scale=[0, 20000])

In [6]:
print(np.min(df['alt']))
print(np.max(df['alt']))

-32647.6
107503.3

In [7]:
mask_50 = (df['lon'] > 114.0) & (df['lon'] < 120.0) & (df['lat'] > 32.0) & (df['lat'] < 48.0)
df_50 = df[mask_50]

In [8]:
proj = pyproj.Proj(proj='utm', zone=50, ellps='WGS84')
x, y = proj(df_50['lon'].tolist(), df_50['lat'].tolist())
p = np.c_[x, y, 0.3048 * df_50['alt']]  # alt originally in feet

In [9]:
#v = pptk.viewer(p) unlabeled

In [10]:
mask_labelled = df_50['label'] != 0
v = pptk.viewer(p[mask_labelled])

In [13]:
colors = [
    "blue",
    "green",
    "red",
    "cyan",
    "magenta",
    "yellow",
    "black",
    "white",
    "tab:blue",
    "tab:orange",
    "tab:green",
    "tab:red",
    "tab:purple",
    "tab:brown",
    "tab:pink"
]

rgb_values = [
    [0, 0, 1],    # blue
    [0, 0.5, 0],  # green
    [1, 0, 0],    # red
    [0, 0.75, 0.75],  # cyan
    [1, 0, 1],    # magenta
    [0.75, 0.75, 0],  # yellow
    [0, 0, 0],    # black
    [1, 1, 1],    # white
    [0.12156862745098039, 0.4666666666666667, 0.7058823529411765],   # tab:blue
    [1.0, 0.4980392156862745, 0.054901960784313725],  # tab:orange
    [0.17254901960784313, 0.6274509803921569, 0.17254901960784313], # tab:green
    [0.8392156862745098, 0.15294117647058825, 0.1568627450980392],  # tab:red
    [0.5803921568627451, 0.403921568627451, 0.7411764705882353],    # tab:purple
    [0.5490196078431373, 0.33725490196078434, 0.29411764705882354], # tab:brown
    [0.8901960784313725, 0.4666666666666667, 0.7607843137254902]    # tab:pink
]
def get_rgb(id):
    return np.array(rgb_values[id])

cs = np.vstack(df_50[mask_labelled]['label'].apply(lambda l: get_rgb(l-1)))
v.attributes(cs)

# todo make less ugly
for i, item in enumerate(zip(colors, rgb_values)):
    if i >= df_50[mask_labelled]['label'].max():
        break
    print(f'{item[0]} represents {read_geolife.get_mode(i+1)}')

blue represents walk
green represents bike
red represents bus
cyan represents car
magenta represents subway
yellow represents train
black represents airplane
white represents boat
tab:blue represents run
tab:orange represents motorcycle
tab:green represents taxi